*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Nerko One', cursive;
  background-color: #add8e6;
}
h1{
  text-shadow: 2px 2px 4px #000000;
}
.memory{
  margin: auto;
  width: 590px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/*  header e footer */
.central{
  text-align: center;
}
.inizio{
  color: white;
  font-size: 50px;
}
.fine{
  /* margin-top: 10px; */
  margin-bottom: 0;
  font-size: 20px;
  color: black;
}
/* fine header e footer */
/* ----------------------------------GIOCO------------------------------- */
.gamebox{
  width: 100%;
  height: 555px;
  margin: auto;
  position: relative;
}
.slot{
  display: inline-block;
  width: 130px;
}
.quattro{
  position: absolute;
  right: 20px;
}
.tre{
  position: absolute;
  right: 160px;
}
.due{
  position: absolute;
  left: 160px;
}
.uno{
  position: absolute;
  left: 20px;
}
.card{
  width: 130px;
  height: 170px;
  border-radius: 10px;
  margin-bottom: 15px;
  background-color: white;
  background-size: contain;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  box-shadow: 2px 5px 8px black;
  position: relative;
  color: #ffffffff;
}
#special{
  background-image: url("../img/nave.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}
.name{
  display: inline-block;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
/* ----------------------------------/GIOCO------------------------------- */
/* ----------------------------------ANIMAZIONI------------------------------- */
#special:hover{
  background-color: white;
  color: #ffffffff;
  background-size: contain;
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
}
.uno .sup:hover{
  background-image: url("../img/nave.png");
  color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}
.uno .cen:hover, .quattro .cen:hover{
  background-image: url("../img/pallone.png");
  color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}
.uno .inf:hover, .tre .cen:hover{
  background-image: url("../img/tram.png");
  color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}
.due .sup:hover, .quattro .inf:hover{
  background-image: url("../img/sottomarino.png");
  color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}
.tre .sup:hover, .due .inf:hover{
  background-image: url("../img/bici.png");
  color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}
.quattro .sup:hover, .tre .inf:hover{
  background-image: url("../img/trattore.png");
  color: black;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
}
/* ----------------------------------/ANIMAZIONI------------------------------- */
