*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Nerko One', cursive;
  background-image: url("../img/sfondo.jpg");
}
h1{
  text-shadow: 2px 2px 4px #000000;
}
.gamebox{
  margin: auto;
  background-color: #ADD8E699;
  width: 600px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 2px 5px 8px black;
}
/*---------------- header e footer--------------- */
.central{
  text-align: center;
}
.inizio{
  color: white;
  font-size: 50px;
}
.fine{
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 20px;
  color: black;
}
/*-------------/header e footer------------------ */
/* ----------------------GIOCO----------------- */
.cella{
  width: 560px;
  margin: auto
}
.carta{
  display: inline-block;
  border-radius: 10px;
  height: 150px;
  width: 120px;
  background-image: url("../img/pattern.png");
  background-size: contain;
  margin: 10px;
  color: #ffffffff;
}
.pos1, .pos2, .pos3, .pos4{
  box-shadow: 2px 5px 8px black;
  position: relative;
}
/* ----------------------/GIOCO----------------- */
/* ---------POSIZIONAMENTO CARD NAME-------------------- */
.name{
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 15px;
}
/* ---------/POSIZIONAMENTO CARD NAME-------------------- */
.carta:hover{
 color: #ffffffff; /* attualmente non ho trovato altra soluzione */
}
/* ----------------------------------ANIMAZIONI------------------------------- */
.superiore .pos1{                    /*special*/
  background-image: url("../img/nave.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}
.superiore .pos2:hover, .inferiore .pos1:hover{
  background-image: url("../img/pallone.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}
.superiore .pos3:hover, .centrale .pos4:hover{
  background-image: url("../img/tram.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}
.superiore .pos4:hover, .centrale .pos1:hover{
  background-image: url("../img/sottomarino.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}
.inferiore .pos2:hover, .centrale .pos3:hover{
  background-image: url("../img/bici.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}
.inferiore .pos3:hover, .centrale .pos2:hover{
  background-image: url("../img/trattore.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}
.superiore .pos1:hover{                /*special*/
  background-image: url("../img/pattern.png");
  background-repeat: repeat;
  color: #ffffffff;
}
.inferiore .pos4:hover{
  background-image: url("../img/nave.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}
/* ----------------------------------/ANIMAZIONI------------------------------- */
